.fade {
  &-enter-active,
  &-leave-active {
    transition: height 0.2s, opacity 0.2s;
    transition-timing-function: ease;
    overflow: hidden;
  }

  &-enter,
  &-leave-active {
    opacity: 0
  }
}

.slide {
  &-left-enter-active,
  &-left-leave-active,
  &-right-enter-active,
  &-right-leave-active {
    transition-duration: 0.2s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
  }

  &-left-enter,
  &-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
  }

  &-left-leave-active,
  &-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
  }
}

.zoom {
  &-enter-active,
  &-leave-active {
    animation: zoom 0.2s both;
  }

  &-leave-active {
    animation-direction: reverse;
  }
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}