<template>
  <section>
    <nav-bar>
      <div :style="{ background: '#fff', padding: '24px', minHeight: '380px' }">Laravel</div>
    </nav-bar>
  </section>
</template>

<script>
import NavBar from '../components/navbar.vue'

export default {
  name: 'home-page',
  components: {
    NavBar
  },
  data () {
    return {}
  }
}
</script>
